In [1]:
# Import dependencies
import pandas as pd

In [17]:
# Load in stocks data
stocks = pd.read_csv('stock_data.csv')
stocks.head()

  country        date      price
0      US  2020-03-09  2746.5601
1      US  2020-03-06  2972.3701
2      US  2020-03-05  3023.9399
3      US  2020-03-04  3130.1201
4      US  2020-03-03  3003.3701

In [19]:
cases = pd.read_csv('cases.csv')
cases.head()

  countryCode        date  confirmedCases
0          AE  2020-01-22             0.0
1          AE  2020-01-23             0.0
2          AE  2020-01-24             0.0
3          AE  2020-01-25             0.0
4          AE  2020-01-26             0.0

In [36]:
df = pd.merge(stocks, cases,  how='left', left_on=['country','date'], right_on = ['countryCode','date'])
df = df[['country','date','price','confirmedCases']]
df = df.rename(columns = {
    'confirmedCases' : 'cases'
})

df['id'] = df.index

# Organize columns to match database table
df = df[['id','country','date','price','cases']]

df = df.dropna()

df

        id country        date      price   cases
0        0      US  2020-03-09  2746.5601   605.0
1        1      US  2020-03-06  2972.3701   277.0
2        2      US  2020-03-05  3023.9399   220.0
3        3      US  2020-03-04  3130.1201   152.0
4        4      US  2020-03-03  3003.3701   121.0
...    ...     ...         ...        ...     ...
2527  2527      CN  2020-01-28    61.6100  5494.0
2528  2528      CN  2020-01-27    61.0000  2863.0
2529  2529      CN  2020-01-24    63.4000   916.0
2530  2530      CN  2020-01-23    64.5000   639.0
2531  2531      CN  2020-01-22    65.3500   547.0

[833 rows x 5 columns]

In [38]:
df.to_csv('stocks_and_cases.csv', index=False, header=False)